



/*
Global stuff
====================
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.75;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
}

img {
  max-width: 100%;
}

.padLrg {
  padding: 96px 0;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.3333%;
}

.col-8 {
  float: left;
  width: 66.66666%;
}

/*
colours
====================
*/
/*------------------------------*/
.blue-on-grey {
  background: #F0F3F5;
  color: #2f6882;
}
.blue-on-grey a {
  color: #2f6882;
}
/*------------------------------*/
.white-on-blue {
  background: #007dab;
  color: white;
}
.white-on-blue  a {
  color: white;
}
/*------------------------------*/
.grey-on-white {
  background: white;
  color: #717171;
}
.grey-on-white a {
  color: #717171;
}
/*------------------------------*/



/*
header
====================
*/
header {
  background: #007dab;
  color: white;
}
header a {
  color: white;
}

header {
  background-image: url('img/hero-01.png');
  background-position: center center;
  background-size: cover;
}


/*
footer
====================
*/
footer {
  background: #333;
  color: white;
  padding: 2em;
}
footer a {
  color: white;
}
footer .nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .nav li {
  display: inline-block;
  margin-right: 1.5em;
}


/*
GovAU
====================
*/
.ribbon {
  background-color: rgba(0,0,0,0.2);
  padding: 8px 0;
  font-size: 14px;
}
.govau {
  display: inline-block;
}
.govau img {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 2px;

}
.official {
    display: inline-block;
    border-left: solid 1px white;
    padding-left: 1em;
    margin-left: 1em;
}
.ribbon button {
    display: inline-block;
    margin-left: 1em;
    background: none;
    color: white;
    border:none;
    font-size:14px;
    padding: 0;
}
.ribbon button span{
  display: inline-block;
  border-bottom: solid 1px white;
}


/*
banner: Service Manual, Search etc
====================
*/
.banner {
  padding: 1em 0;
}
.banner h1 {
  float: left;
  margin: 0;
  padding: 0;
}

/*
====================
*/
.searchbox {
  float: right;
}

.brochure {
  display: block;
  border: solid 1px #bbb;
  height: 240px;
  padding: 1rem;
  position: relative;
  margin-bottom: 2rem;
  background: white;
}

.brochure.comingsoon {
  background-color: #f1f1f1;
  color: #333;
  border-color: #ccc;
}

.brochure:hover {
  background-color: #ccc;
}

.brochure h3 {
  position: absolute;
  margin: 0;
  bottom: 1rem;
}

.cats {
  list-style: none;
  margin: 0;
  padding: 3em 0;
}

.cats li {
  width: 22%;
  float: left;
  margin-right: 3%;
}
.cats li:nth-child(4){
  margin-right: 0;
}

.topics {
  padding: 3em 0;
  background: #f1f1f1;
}
.guides {
  padding: 3em 0;
}

/*
promo
====================
*/
.promo {
  text-align: center;
  max-width: 66%;
  margin: 0 auto;
}
.promo h1 {
  font-size: 4em;
  line-height: 1;
  margin: 0;
}
.promo p {
  margin: 32px 0;
  font-size: 1.5em;
}

.button-vid {
  display: inline-block;
  color: white;
  border: solid 1px;
  text-decoration: none;
  border-radius: 99em;
  padding: 1em 3em;
  font-size: 1.2em;
  background-color: rgba(0,0,0,0.3);
}

/*
Nav
====================
*/
.cat-nav {
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 99;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  font-size: 1.2em;
  font-weight: bold;
}

.cat-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
}
.cat-nav li {
  display: table-cell;
  width: 25%;
}
.cat-nav a {
  padding: 24px 0 16px 0;
  display: block;
  text-align: center;
  color: #717171;
  text-decoration: none;
  border-bottom: solid 8px white;
}
.cat-nav a:hover,
.cat-nav a:focus{
  /*background-color: #F0F3F5;*/
  color: black;
  border-bottom-color: #ccc;
}



/*
DSS callout
====================
*/

.dss-callout {
  float: right;
  background: white;
  width: 33.333%;
  margin-top: 7em;
}
.dss-callout h3 {
  margin-top:0;
}
.dss-callout ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dss-callout a {
  display: block;
  padding: 0.5em 0;
}
.dss-callout .content {
  padding: 2em;
}
a.dss-cta {
  display: block;
  background: #84898A;
  color: white;
  padding: 1em 2em;
}
.criteria strong{
  display: inline-block;
  width: 2em;
}

/*
Type
====================
*/
.psudoH {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.psudoH span{
  margin-top: 0.5em;
  display: block;
  width: 3em;
  border-bottom: solid 4px;
  opacity: 0.3;
}

.hugeHeading {
  font-size: 3.5em;
  font-weight: normal;
  line-height: 1.1;
}

/*
Events
====================
*/
.event {
  margin: 32px 0;
}
.event .date {
  font-size: 1.5em;
  font-weight: bold;
  margin: 24px 0;
}


/*
cards
====================
*/
.cards {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards li {
  float: left;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 3%;
}
.cards h3 {
  height: 4em;
  font-size: 1.3em;
  line-height: 1.3;
}
.cards a {
  display: block;
  background: white;
  border: solid 1px #ccc;
  min-height: 14em;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #D8D8D8;
}
.cards a:hover,
.cards a:focus {
  border: solid 1px #717171;
  box-shadow: 0 5px 9px 0 #BDBDBD;
}
.cards .content{
  padding: 2em;
}
.cards a :first-child {
  margin-top: 0;
}
.cards a :last-child {
  margin-bottom: 0;
}

.legal {
  color: #333;
  background: #F3F5F7;
  padding: 1.5em 0;
}
.legal h2 {
  font-size: 1.3em;
}

/*
sidebar
====================
*/
.sidebar {
  width: 25%;
  float: left;
}

#community {
  position: relative;
}
#community .img {
  background-image: url("https://www.dta.gov.au/images/blog-content/sketching-in-code-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: absolute;
  left: 0;
  top: 0;
  right: 50%;
  bottom: 0;
}


#how {
  position: relative;
}
#how .img {
  background-image: url("https://www.dta.gov.au/images/blog-content/standard-goes-live-content.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: absolute;
  left: 59%;
  top: 0;
  right: 0;
  bottom: 0;
}
