body{
  background: linear-gradient(to bottom, #a9515d 0%, #eca86b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: solid 1px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1rem;
}

h2 {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-family: serif;
  line-height: 1;
}

body h2:first-child {
  margin-top: 0;
}

p {
  max-width: 40rem;
  margin-bottom: 1.5rem;
}

.setting {
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  font-family: serif;
}
.setting ul{
  list-style: none;
  padding: 0;
}

.quote {
  padding-left: 7rem;
  position: relative;
}
.name {
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  font-family: serif;
  line-height: 1.5rem;
}

.fade {
  animation-name: fadeBg;
  animation-duration: 2s;
}

@keyframes fadeBg {
    0%   {background-color: rgba(255,255,255,0.7);}
    100% {background-color: rgba(255,255,255,0);}
}

html,body {
  margin: 0; padding: 0;
  height: 100%; width: 100%;
}
.header {
  position: fixed;
  top: 0; left: 2rem;
  right: 2rem;
  padding: 1rem 0;
  border-bottom: solid 1px rgba(255,255,255,0.4);
  font-size: 14px;
  line-height: 1em;
}
.header h1 {
  font-size: 1em;
  float: left;
}
.header .date {
  float: right;
}
.viewport {
  position: fixed;
  top: 3rem; left: 0;
  width: 100%;
  bottom: 0;
  overflow: auto;
}
#stage {
  padding: 2rem;
}
.q {
  font-family: serif;
  font-style: italic;
  font-size: 1.2rem;
}
.q:before {
  content: '“';
}
.q:after {
  content: '”';
}
