



/*
Global stuff
====================
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.75;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  /*max-width: 960px;*/
}

@keyframes example {
    from {background-color: yellow;}
    to {background-color: white;}
}
h1:focus,
h2:focus,
h3:focus {
  outline: none;
  animation-name: example;
  animation-duration: 2s;
}

img {
  max-width: 100%;
}

.padLrg {
  padding: 96px 0;
}
.padMed {
  padding: 32px 0;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.3333%;
}

.col-8 {
  float: left;
  width: 66.66666%;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    border: solid 1px;
    text-align: center;
}
.button.full {
  display: block;
}

section {
  border-bottom: solid 1px silver;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 3em;
}

section h2{
  margin-top: 0;
}

/*
colours
====================
*/
/*------------------------------*/
.blue-on-grey {
  background: #F0F3F5;
  color: #2f6882;
}
.blue-on-grey a {
  color: #2f6882;
}
/*------------------------------*/
.white-on-blue {
  background: #007dab;
  color: white;
}
.white-on-blue  a {
  color: white;
}
/*------------------------------*/
.grey-on-white {
  background: white;
  color: #717171;
}
.grey-on-white a {
  color: #717171;
}
/*------------------------------*/



/*
header
====================
*/
header {
  background: #007dab;
  color: white;
}
header a {
  color: white;
}

header {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
input[type="search"]{
  padding: 1em;
  border: solid 1px silver;
  width: 100%;
}

.intro {
  width: 50%;
  font-size: 1.3em;
}
.intro h2 {
  font-size: 2.5em;
  margin-bottom: 24px;
  margin-top: 0;
}


/*
footer
====================
*/
footer {
  background: #333;
  color: white;
  padding: 2em 0;
  font-size: 14px;
}
footer a {
  color: white;
}

footer .nav {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #666;
  padding-bottom: 0.8em;
}
footer .nav li {
  display: inline-block;
  margin-right: 1.5em;
}
footer .coat-of-arms {
  float: left;
  width: 20%;
}
footer .links {
  width: 75%;
  float: right;
}

/*
GovAU
====================
*/
.ribbon {
  background-color: rgba(0,0,0,0.5);
  padding: 8px 0;
  font-size: 14px;
}
.govau {
  display: inline-block;
}
.govau img {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 2px;

}
.official {
    display: inline-block;
    border-left: solid 1px white;
    padding-left: 1em;
    margin-left: 1em;
}
.ribbon button {
    display: inline-block;
    margin-left: 1em;
    background: none;
    color: white;
    border:none;
    font-size:14px;
    padding: 0;
}
.ribbon button span{
  display: inline-block;
  border-bottom: solid 1px white;
}


/*
banner: Service Manual, Search etc
====================
*/
.banner {
  padding: 1em 0;
}
.banner h1 {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 24px;
}
.banner img {
  width: 120px;
  vertical-align: middle;
  margin-right: 0.5em;
}


/*
====================
*/
.searchbox {
  float: right;
}

.brochure {
  display: block;
  border: solid 1px #bbb;
  height: 240px;
  padding: 1rem;
  position: relative;
  margin-bottom: 2rem;
  background: white;
}

.brochure.comingsoon {
  background-color: #f1f1f1;
  color: #333;
  border-color: #ccc;
}

.brochure:hover {
  background-color: #ccc;
}

.brochure h3 {
  position: absolute;
  margin: 0;
  bottom: 1rem;
}

.cats {
  list-style: none;
  margin: 0;
  padding: 3em 0;
}

.cats li {
  width: 22%;
  float: left;
  margin-right: 3%;
}
.cats li:nth-child(4){
  margin-right: 0;
}

.topics {
  padding: 3em 0;
  background: #f1f1f1;
}
.guides {
  padding: 3em 0;
}

/*
promo
====================
*/
.promo {
  text-align: center;
  max-width: 66%;
  margin: 0 auto;
}
.promo h1 {
  font-size: 4em;
  line-height: 1;
  margin: 0;
}
.promo p {
  margin: 32px 0;
  font-size: 1.5em;
}

.button-vid {
  display: inline-block;
  color: white;
  border: solid 1px;
  text-decoration: none;
  border-radius: 99em;
  padding: 1em 3em;
  font-size: 1.2em;
  background-color: rgba(0,0,0,0.3);
}

/*
Nav
====================
*/
nav ul {
  list-style: none;
  margin: 0;
  padding:0;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 1em;
  border-bottom: solid #e2e2e2 4px;
}
nav a:hover {
  background:silver;
    border-bottom-color:silver;
}
nav .right {
  float: right;
}
nav .active,
nav .active:hover {
  border-bottom-color:blue;
}


.breadcrumbs {
  padding: 1em;
  font-size: 14px;
}
.bits-list h4,
.bits-list li,
.bits-list ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.bits-list ul {
  margin-bottom: 1em;
}


.sidebar,
.maincontent,
.inthispage{
  float:left;
}

.sidebar {
  font-size: 14px;
  padding-right: 16px;
  box-sizing: border-box;
}

.main {
  padding-left:250px;
  padding-right:150px;
}

.sidebar {
  width:250px;
  margin-left:-250px;
}
.maincontent {
  width:100%;
  box-sizing: border-box;
  padding-left: 62px;
  padding-right: 62px;
}
.inthispage {
  width:150px;
  margin-right:-150px;
  position: sticky;
  top: -1px;
  font-size: 14px;
}
.inthispage ul ul{
  font-weight: normal;
}
.inthispage h4 {
  margin: 0; padding: 0; margin-bottom: 1em;
}
.inthispage ul{
  list-style: none;
  margin: 0; padding: 0;
}

.codetabs {
  background:#eee;
  padding: 8px 8px 0 8px;
  font-size: 14px;
}
.left {
  float: left;
}
.right {
  float: right;
}

.smllist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.smllist li {
  margin-bottom: 0.5em;
}

/*
DSS callout
====================
*/

.dss-callout {
  float: right;
  background: white;
  width: 33.333%;
}
.dss-callout h3 {
  margin-top:0;
}
.dss-callout ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dss-callout a {
  display: block;
  padding: 0.5em 0;
}
.dss-callout .content {
  padding: 2em;
}
a.dss-cta {
  display: block;
  background: #84898A;
  color: white;
  padding: 1em 2em;
}
.criteria strong{
  display: inline-block;
  width: 2em;
}

#dss .dss-callout {
  background: #224A61;
  color: white;
}
#dss .dss-callout a{
  background: #224A61;
  color: white;
}

/*
content
====================
*/
.content > h1 {
  margin-top: 0;
  font-size: 2em;
}
.content p {
  max-width: 37rem;
}
.content section{
  margin-bottom: 0
}
.content table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.5em;
}
.content th {
  text-align: left;
}
.content tr {
  border-bottom: solid 1px silver;
}
.content td {
  padding: 4px;
}
pre {
  margin: 0;
  padding: 8px;
  background: #eee;
  overflow: hidden;
}
xmp {
  margin: 0;
}

.details {
  font-size: 14px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 2em 1em;
  margin: 4em 0;
}
.details ul{
  margin: 0; padding: 0;
}
.details ul{
  list-style: none;
}
.details td{
  vertical-align: top;
}
.details p {
  line-height: 1.3;
  margin-bottom: 1.5em;
}
.details p:first-of-type {
  margin-top: 0
}
.details p:last-child {
  margin-bottom: 0
}
.details tr{
  border-bottom: none;
}
.details td{
  border-bottom: none;
  /*border-left: solid 1px silver;*/
  padding: 0;
  /*padding-left:16px;*/
}
.details table {
  margin-bottom: 0;
}
.details .code {
  color: #717171;
  font-family: monospace;
  font-size: 12px;
}
.details .tab{
  font-size: 12px;
  width: 4em;
  display: inline-block;
}
.examples div{
  float: left;
  width: 30%;
  padding-right: 3%;
}

.examples p {
  margin: 0;
  font-size: 14px;
}


/*
FAQ
====================
*/
.faq {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: solid 1px silver;
}
.faq li {
  margin: 0;
  padding: 0;
}
.faq a {
  display: block;
  padding: 8px;
  border-bottom: solid 1px silver;
}
.faq a:hover {
  background: silver;
}

.ver {
  float: right;
  font-size: 14px;
  font-weight: normal;
}

/*
Type
====================
*/
.psudoH {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.psudoH span{
  margin-top: 0.5em;
  display: block;
  width: 3em;
  border-bottom: solid 4px;
  opacity: 0.3;
}
.padLrg .psudoH {
  margin-bottom: 48px;
}

.hugeHeading {
  font-size: 3.5em;
  font-weight: normal;
  line-height: 1.1;
  margin:0;
  margin-bottom: 48px;
}

.abstract {
  font-size: 1.5em;
  line-height: 1.3;
}

/*
Events
====================
*/
.event {
  margin: 32px 0;
}
.event .date {
  font-size: 1.5em;
  font-weight: bold;
  margin: 24px 0;
}


/*
cards
====================
*/
.cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.cards li {
  float: left;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 3%;

  display: flex;
}
.cards h3 {
  height: 4em;
  font-size: 1.3em;
  line-height: 1.3;
}
.cards a {
  display: block;
  background: white;
  border: solid 1px #ccc;
  min-height: 14em;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #D8D8D8;
  width: 100%; /*cause flex?*/
}
.cards a:hover,
.cards a:focus {
  border: solid 1px #717171;
  box-shadow: 0 5px 9px 0 #BDBDBD;
}
.cards .content{
  padding: 2em;
}
.content h3 {
  margin-top: 0;
}
.cards a :first-child {
  margin-top: 0;
}
.cards a :last-child {
  margin-bottom: 0;
}

.cards a.white-on-bond {
  background-color: #007dab;
  color: white;
}

.cards a.white-on-teal {
  background-color: #1B8197;
  color: white;
}

.cards a.white-on-purple {
  background-color: #693879;
  color: white;
}

.cards a.white-on-grey {
  background-color: #717171;
  color: white;
}

.cards a.white-on-blue {
  background-color: #006d96;
  color: white;
}

.cards a.disabled {
  background-color: #FFFFFF;
  color: #717171;
}

.spacer {
  display: block;
  padding: 33%;
}

/*
Legal
====================
*/
.legal {
  color: #333;
  background: #F3F5F7;
  padding: 1.5em 0;
  line-height: 1.2;
  font-size: 14px;
}
.legal h2 {
  font-size: 1.1em;
}
.legal a{
  color: #333;
}

/*
sidebar
====================
*/
/*.sidebar {
  width: 25%;
  float: left;
}*/

#community {
  position: relative;
}
#community .img {
  background-image: url("https://www.dta.gov.au/images/blog-content/sketching-in-code-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: absolute;
  left: 0;
  top: 0;
  right: 50%;
  bottom: 0;
}


#how {
  position: relative;
}
#how .img {
  background-image: url("https://www.dta.gov.au/images/blog-content/standard-goes-live-content.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: absolute;
  left: 59%;
  top: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 420px) {
    header[role='banner'] .site-search {
        width: 100%;
        float: none;
        margin-top: 0
    }
}

@media screen and (min-width: 768px) {
    header[role='banner'] .site-search {
        float: right;
        max-width: 40%;
        margin-top: 1.6em
    }
}

@media screen and (min-width: 75em) {
    header[role='banner'] .site-search {
        max-width: 450px;
        margin-top: 3.2em
    }
}
.site-search {
    color: #043751
}

.site-search form {
    position: relative
}

.site-search input {
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color
}

.site-search label {
    height: 3em;
    line-height: 3em;
    margin: 0;
    cursor: text;
    font-size: 16px;
}

.site-search .site-search-border {
    border: solid 2px #bbbbbb;
    border-radius: 3px;
    padding-right: 3em
}

.site-search .site-search-border:after {
    content: '';
    display: table;
    clear: both;
    height: 0
}

.site-search .search-input {
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    float: left;
    border: none;
    padding: 0;
    text-indent: 1em;
    line-height: 3em;
    height: 3em;
    background-color: #f0f3f5;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
}

.site-search .search-input:hover {
    background-color: #e1e7eb
}

.site-search .search-input:focus {
    outline: solid 3px #5bcbe3
}

.site-search .search-input:focus,
.site-search .search-input.has-value {
    z-index: 3
}

.site-search .search-input:hover:focus {
    background-color: #f0f3f5
}

.site-search .submit {
    position: relative;
    z-index: 1;
    border: none;
    float: right;
    margin: 0;
    margin-right: -3em;
    padding: 0;
    width: 3em;
    height: 3em;
    text-indent: -99em;
    background-color: #f0f3f5;
    border-radius: 0 3px 3px 0;
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 16px;
}

.site-search .submit:hover {
    background-color: #e1e7eb
}

.site-search .submit:focus {
    outline: solid 3px #5bcbe3;
    z-index: 3
}

.no-js .site-search label {
    color: #f0f3f5
}

.js .site-search label {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    text-indent: 1em;
    line-height: 52px;
}

.col-4.right,
.col-3.right{
  float: right;
}

.index-links {
  margin: 3.2em 0 1.6em 0;
  border-left: 0.4em solid #84898A;
  padding: 0 0 1.2em 1.2em; }
  .index-links h2, .index-links .display,
  .index-links h3,
  .index-links h4,
  .index-links h5,
  .index-links h6 {
    font-size: 1.0625rem;
    margin-top: 1.6em;
    color: #6e6e6e;
    font-weight: 400; }
  .index-links ul,
  .index-links ol {
    list-style-type: none;
    margin: 1.6em 0 0;
    padding: 0; }
  .index-links li {
    margin-bottom: 1.2em;
    font-weight: 700; }
    .index-links li:last-child {
      margin-bottom: 0; }

[class^='inline-links'] {
display: inline-block;
list-style-type: none;
margin: 0;
padding: 0.8em 0; }
[class^='inline-links'] li {
  display: inline-block;
  margin: 0 0.4em; }
[class^='inline-links'][class$='--inverted'] a {
  color: #fff; }





  .uikit-breadcrumbs {
      display: none;
      width: 100%;
      margin: 0;
      color: #313131;
      font-size: 14px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  }
  .uikit-breadcrumbs ul{
    padding-left: 0;
  }

      .uikit-breadcrumbs {
          display: block
      }

        .uikit-breadcrumbs li {
          display: inline-block;
        }


  .uikit-breadcrumbs>.uikit-link-list>li {
      margin: 0
  }

  .uikit-breadcrumbs>.uikit-link-list>li:after {
      content: ' ';
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      margin: 0 .8em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E    %3Cpath fill='%23555' d='M128 64l-64 64-16-16 64-64'/%3E    %3Cpath fill='%23555' d='M128 64l-16 16-64-64L64 0'/%3E   %3C/svg%3E")
  }

  .uikit-breadcrumbs>.uikit-link-list>li:last-child:after {
      display: none
  }

  .ie8 .uikit-breadcrumbs>.uikit-link-list>li:after,
  .lt-ie8 .uikit-breadcrumbs>.uikit-link-list>li:after {
      content: ' > ';
      display: inline-block;
      border: none
  }

  .uikit-breadcrumbs.uikit-breadcrumbs--inverted {
      color: #fff
  }

  .uikit-breadcrumbs.uikit-breadcrumbs--inverted>.uikit-link-list>li:not(:last-child):after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E    %3Cpath fill='%23fff' d='M128 64l-64 64-16-16 64-64'/%3E    %3Cpath fill='%23fff' d='M128 64l-16 16-64-64L64 0'/%3E   %3C/svg%3E")
  }

  a { color: #007dab !important; }
  a[href="#"],
  a[href="javascript:;"]{
    color: black !important;
  }
